* {
    padding: 0;
    margin: 0;
}

body {

    padding: 0;
    margin: 0;
}

#navbar {
    display: flex;
    background-color: black;
    color: white;

    height: 100px;
    align-items: center;
    justify-content: center;

}

/* for h1 in navbar */

#navbar h1 {

    font-size: 45px;
    font-family: sans-serif;

}

/* h1 on hover  */

#navbar h1:hover {
    cursor: pointer;
    color: red;
}

/* for taskarea */

#taskarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0px;
    background-color: gold;
}


#taskarea label {
    font-size: 18px;
    font-family: serif;
    margin-left: 2%;
}


#taskarea #Task {
    width: 70%;
    border-radius: 25px;
    padding: 12px 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    border: none;
}

/* for button in taskarea */


#taskarea .btn {
    padding: 0px 0px;
    margin: 3px 0px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    height: 39px;
    width: 100px;
    text-align: center;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

/* button on hover  */

#taskarea .btn:hover {
    transition: all 0.3s;
    cursor: pointer;
    color: gold;
    background-color: red;
}

ul {
    margin: 0;
    padding: 0;
}

/* Styling of list items */


ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eeee;
    font-size: 18px;
    transition: 0.2s;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

#taskarea span {
    position: relative;
    color: red;
    padding: 7px 0px;
}


#container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

}

